<script>
	var KeywordArr = ["Dashboard","Mitarbeiter"];
 
	var languageInnerHTMLArr = new Array();	
	var languagePlaceholderArr = new Array();	
	var languageValueArr = new Array();	
 
	//导航部分
	languageInnerHTMLArr.push(new languageObj("menu_text_dashboard", "Dashboard", "Dashboard", "Tableau de bord", "仪表盘"));
	languageInnerHTMLArr.push(new languageObj("menu_text_employees", "Employees", "Mitarbeiter", "Employés", "员工页"));
	languageInnerHTMLArr.push(new languageObj("menu_text_customers", "Customers", "Kunden", "Clients", "客户页"));
	languageInnerHTMLArr.push(new languageObj("menu_text_homepageedit", "HomepageEdit", "Startseite bearbeiten", "Modifier la page d’accueil", "主页编辑"));
	languageInnerHTMLArr.push(new languageObj("menu_text_produktverwalten", "Manage Product", "Produkt verwalten", "Gérer le produit", "产品管理"));
	languageInnerHTMLArr.push(new languageObj("menu_text_emailmanagement", "Email Management", "E-Mail-Verwaltung", "Gestion des e-mails", "邮件管理"));
	languageInnerHTMLArr.push(new languageObj("menu_text_ordermanagement", "Order Management", "Bestellverwaltung", "Gestion des commandes", "订单管理"));
	languageInnerHTMLArr.push(new languageObj("menu_text_news", "Blog", "Blog", "Blog", "博客页"));
	languageInnerHTMLArr.push(new languageObj("menu_text_vorhersage", "Prediction", "Vorhersage", "Prédiction", "预报页"));
	languageInnerHTMLArr.push(new languageObj("menu_text_warensendung", "Shipping", "Versand", "Eexpédition", "发货页"));
	languageInnerHTMLArr.push(new languageObj("menu_text_lagerinfo", "Cargo Statistics", "Warenstatistik", "Statistiques de cargaison", "货物统计"));
	languageInnerHTMLArr.push(new languageObj("menu_text_overview", "Overview", "Übersicht", "Aperçu", "仓库概览"));
	languageInnerHTMLArr.push(new languageObj("menu_text_angebot", "Promotion Management", "Aktionsverwaltung", "Gestion des promotions", "促销管理"));
	languageInnerHTMLArr.push(new languageObj("menu_text_vertreter", "Agent Information", "Händlerinformationen", "Informations sur l'agent", "代理信息"));
	languageInnerHTMLArr.push(new languageObj("menu_text_vertreterbestell", "Agent order", "Händlerbestellung", "Commande agent", "代理商订单"));
	
	
	languageInnerHTMLArr.push(new languageObj("menu_title_staff_manage", "Staff Management", "Personalverwaltung", "Gestion du personnel", "人员管理"));
	languageInnerHTMLArr.push(new languageObj("menu_title_order_manage", "Order Management", "Bestellverwaltung", "Gestion des commandes", "订单管理"));
	languageInnerHTMLArr.push(new languageObj("menu_title_agent_manage", "Agent Management", "Vertreterverwaltung", "Gestion des agents", "代理管理"));
	languageInnerHTMLArr.push(new languageObj("menu_title_inventory_manage", "Inventory Management", "Lagerverwaltung", "Gestion des stocks", "库存管理"));
	languageInnerHTMLArr.push(new languageObj("menu_title_misc", "Others", "Sonstiges", "Autres", "其他"));
	
 
	//按钮及页脚部分
	languageInnerHTMLArr.push(new languageObj("button_search_vat", "Search", "Suchen", "Rechercher", "搜索"));
	languageInnerHTMLArr.push(new languageObj("button_add_vat", "Add", "Hinzufügen", "Ajouter", "添加"));
	languageInnerHTMLArr.push(new languageObj("button_export_excel", "Export Excel", "Excel exportieren", "Exporter Excel", "导出Excel"));
	languageInnerHTMLArr.push(new languageObj("button_export_pdf", "Export PDF", "PDF exportieren", "Exporter PDF", "导出PDF"));
	languageInnerHTMLArr.push(new languageObj("button_search_sync", "Sync Promotion", "Sonderpreis synchronisieren", "Synchroniser la promotion", "同步特价"));
 
	//导航右上角部分
	languageInnerHTMLArr.push(new languageObj("topbar_tab_unread", "Unread", "Ungelesene", "Messages non lus", "未读信息"));
	languageInnerHTMLArr.push(new languageObj("topbar_tab_read", "Read", "Gelesene", "Messages lus", "已读信息"));
	languageInnerHTMLArr.push(new languageObj("topbar_tab_send", "Send", "Nachricht", "Envoyer", "发信息"));
	languageInnerHTMLArr.push(new languageObj("message_btn_send", "Send message", "Nachricht senden", "Envoyer un message", "发送消息"));
	languageInnerHTMLArr.push(new languageObj("message_btn_markallread", "Mark all as read", "Alle als gelesen markieren", "Tout marquer comme lu", "已读所有"));
	languageInnerHTMLArr.push(new languageObj("message_title_center", "Message Center", "Nachrichtenzentrale", "Centre de messages", "消息中心"));
 
</script>
 
<!--begin::Aside-->
<div class="aside aside-left aside-fixed d-flex flex-column flex-row-auto" id="kt_aside">
	<!--begin::Brand-->
	<div class="brand flex-column-auto" id="kt_brand">
		<!--begin::Logo-->
		<a href="/" class="brand-logo">
			<img alt="Logo" src="images/banner.png" class="h-30px" />
		</a>
		<!--end::Logo-->
		<!--begin::Toggle-->
		<button class="brand-toggle btn btn-sm px-0" id="kt_aside_toggle">
			<span class="svg-icon svg-icon svg-icon-xl">
				<!--begin::Svg Icon | path:assets/media/svg/icons/Text/Toggle-Right.svg-->
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
					<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<rect x="0" y="0" width="24" height="24" />
						<path fill-rule="evenodd" clip-rule="evenodd" d="M22 11.5C22 12.3284 21.3284 13 20.5 13H3.5C2.6716 13 2 12.3284 2 11.5C2 10.6716 2.6716 10 3.5 10H20.5C21.3284 10 22 10.6716 22 11.5Z" fill="black" />
						<path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M14.5 20C15.3284 20 16 19.3284 16 18.5C16 17.6716 15.3284 17 14.5 17H3.5C2.6716 17 2 17.6716 2 18.5C2 19.3284 2.6716 20 3.5 20H14.5ZM8.5 6C9.3284 6 10 5.32843 10 4.5C10 3.67157 9.3284 3 8.5 3H3.5C2.6716 3 2 3.67157 2 4.5C2 5.32843 2.6716 6 3.5 6H8.5Z" fill="black" />
					</g>
				</svg>
				<!--end::Svg Icon-->
			</span>
		</button>
		<!--end::Toolbar-->
	</div>
	<!--end::Brand-->
	<!--begin::Aside Menu-->
	<div class="aside-menu-wrapper flex-column-fluid" id="kt_aside_menu_wrapper">
		<!--begin::Menu Container-->
		<div id="kt_aside_menu" class="aside-menu my-4" data-menu-vertical="1" data-menu-scroll="1" data-menu-dropdown-timeout="500">
			<!--begin::Menu Nav-->
			<ul class="menu-nav">
				<li class="menu-item" id="DashboardLi" aria-haspopup="true">
					<a href="/Dashboard" class="menu-link">							
						<span id="menu_text_dashboard" class="menu-text">Dashboard</span>
					</a>
				</li>
				
				<li class='menu-section'>
					<h3 class='menu-text' id="menu_title_inventory_manage">库存管理</h3>
					<i class='menu-icon ki ki-bold-more-hor icon-md'></i>
				</li>
				<li class="menu-item" id="HomepageEditLi" aria-haspopup="true">
				  <a href="/ProduktVerwalten" class="menu-link">							
					<span id="menu_text_produktverwalten" class="menu-text">Produkt Verwalten</span> 
				  </a>
				</li>
				<li class="menu-item" id="LagerinfoLi" aria-haspopup="true">
				  <a href="/Lagerinfo" class="menu-link">							
					<span id="menu_text_lagerinfo" class="menu-text">Warehouse</span>
				  </a>
				</li>
				<li class="menu-item" id="OverviewLi" aria-haspopup="true">
				  <a href="/Overview" class="menu-link">							
					<span id="menu_text_overview" class="menu-text">Overview</span>
				  </a>
				</li>		
				
				<li class='menu-section'>
					<h3 class='menu-text' id="menu_title_order_manage">订单管理</h3>
					<i class='menu-icon ki ki-bold-more-hor icon-md'></i>
				</li>
				<li class="menu-item" id="VorhersageLi" aria-haspopup="true">
				  <a href="/Vorhersage" class="menu-link">							
					<span id="menu_text_vorhersage" class="menu-text">Vorhersage</span> 
				  </a>
				</li>	
				<li class="menu-item" id="BestellungVerwaltenLi" aria-haspopup="true">
				  <a href="/BestellungVerwalten" class="menu-link">							
					<span id="menu_text_ordermanagement" class="menu-text">Order Management</span> 
				  </a>
				</li>
				<li class="menu-item" id="WarenSendungLi" aria-haspopup="true">
				  <a href="/WarenSendung" class="menu-link">							
					<span id="menu_text_warensendung" class="menu-text">Versand</span> 
				  </a>
				</li>
				
				<li class='menu-section'>
					<h3 class='menu-text' id="menu_title_staff_manage">人员管理</h3>
					<i class='menu-icon ki ki-bold-more-hor icon-md'></i>
				</li>
				<li class="menu-item" id="MitarbeiterLi" aria-haspopup="true">
					<a href="/Mitarbeiter" class="menu-link">							
						<span id="menu_text_employees" class="menu-text">Mitarbeiter</span>
					</a>
				</li>
				<li class="menu-item" id="MitarbeiterLi" aria-haspopup="true">
				  <a href="/Kunden" class="menu-link">							
					<span id="menu_text_customers" class="menu-text">Kunden</span>
				  </a>
				</li>														
				
				<li class='menu-section'>
					<h3 class='menu-text' id="menu_title_agent_manage">代理管理</h3>
					<i class='menu-icon ki ki-bold-more-hor icon-md'></i>
				</li>
				<li class="menu-item" id="VertreterLi" aria-haspopup="true">
				  <a href="/Vertreter" class="menu-link">							
					<span id="menu_text_vertreter" class="menu-text">Vertreter</span>
				  </a>
				</li>
				
				<li class="menu-item" id="VertreterBestellLi" aria-haspopup="true">
				  <a href="/Vertreter_Bestell" class="menu-link">							
					<span id="menu_text_vertreterbestell" class="menu-text">Agent order</span>
				  </a>
				</li>
				
				
				<li class='menu-section'>
					<h3 class='menu-text' id="menu_title_misc">其他</h3>
					<i class='menu-icon ki ki-bold-more-hor icon-md'></i>
				</li>			
				<li class="menu-item" id="NewsLi" aria-haspopup="true">
				  <a href="/News" class="menu-link">							
					<span id="menu_text_news" class="menu-text">News</span>
				  </a>
				</li>			
				<li class="menu-item" id="AngebotVerwaltenLi" aria-haspopup="true">
				  <a href="/AngebotVerwalten" class="menu-link">							
					<span id="menu_text_angebot" class="menu-text">AngebotVerwalten</span>
				  </a>
				</li>
				<li class="menu-item" id="EmailImportLi" aria-haspopup="true">
				  <a href="/EmailImport" class="menu-link">							
					<span id="menu_text_emailmanagement" class="menu-text">Email Management</span> 
				  </a>
				</li>
				<li class="menu-item" id="HomepageEditLi" aria-haspopup="true">
				  <a href="/HomepageEdit" class="menu-link">							
					<span id="menu_text_homepageedit" class="menu-text">HomepageEdit</span>
				  </a>
				</li>
				
 
			</ul>
			<!--end::Menu Nav-->
		</div>
		<!--end::Menu Container-->
	</div>
	<!--end::Aside Menu-->
</div>
<!--end::Aside-->
 
<script>		
	document.addEventListener("DOMContentLoaded", function () {
		KeywordArr.forEach(function(keyword) {
			if (window.location.href.includes(keyword)) {
				activateDashboardMenuIfInURL(keyword);
			}
		});
	});
 
	function activateDashboardMenuIfInURL(keyword) {
		// 清除所有已激活项
		document.querySelectorAll('.menu-item-active').forEach(function(item) {
			item.classList.remove('menu-item-active');
		});
 
		// 激活匹配项
		const el = document.getElementById(keyword + "Li");
		if (el) {
			el.classList.add("menu-item-active");
		}
	}
 
</script>