<!doctype html>
<html class="no-js layout__7" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Laaver</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <!-- Place favicon.ico in the root directory -->

        <!-- CSS here -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/all.min.css">
        <link rel="stylesheet" href="css/futura-std-4.css">
        <link rel="stylesheet" href="css/slick.css">
        <link rel="stylesheet" href="css/style.css">

		<script src="javascript/header_footer.js "></script>
</head>


<body>


    <main class="main_wrapper body__overlay overflow__hidden">

		<%- include('./header.ejs') %>   

		<!-- breadcrumb__start -->
        <div class="breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="breadcrumb__title">
                            <h1 id="page_title_blog">Blog</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!-- breadcrumb__end -->		

        <!-- blog__section__start -->
        <div class="blog sp_bottom_80 sp_top_40">
            <div class="container">
                <div class="row ">
					<div class="col-lg-12">
						<div class="text-center" style="margin-bottom:30px;">
							<a class="default__button" href="/blog" id="blog_button_back">Back to Blog</a>
						</div>
					</div>
                    <div class="col-lg-12">
                        <div class="ltn__blog-details-wrap--">
                            <h1 class="ltn__blog-title" id="blog-title"></h1>
                            <p class="sp_top_20" id="blog-detail"></p>
                            
                        </div>
                        
                        <div class="ltn__page-details-inner ltn__blog-details-inner" id="blog-bild">
							
						</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog__section__end -->


	    <%- include('./footer.ejs') %>     

	</main>

	<script>
		languageInnerHTMLArr.push(new languageObj("page_title_blog", "Blog", "Blog", "Blog", "博客"));
		languageInnerHTMLArr.push(new languageObj("blog_button_back", "Back to Blog", "Zurück zum Blog", "Retour au blog", "返回博客"));
	</script>

    <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js "></script>
    <script src="js/vendor/jquery-3.6.0.min.js "></script>
	
	<script src="javascript/blog_datail.js "></script>
	<script> initGUI(); </script>
	
    <script src="js/popper.min.js "></script>
    <script src="js/bootstrap.min.js "></script>
    <script src="js/isotope.pkgd.min.js "></script>
    <script src="js/one-page-nav-min.js "></script>
    <script src="js/slick.min.js "></script>
    <script src="js/jquery.meanmenu.min.js "></script>
    <script src="js/ajax-form.js "></script>
    <script src="js/wow.min.js "></script>
    <script src="js/jquery.scrollUp.min.js "></script>
    <script src="js/imagesloaded.pkgd.min.js "></script>
    <script src="js/jquery.magnific-popup.min.js "></script>
    <script src="js/waypoints.min.js "></script>
    <script src="js/jquery.counterup.min.js "></script>
    <script src="js/fontawesome.min.js "></script>
    <script src="js/plugins.js "></script>
    <script src="js/main.js "></script>
	

</body>

</html>