<!-- footer__section__start -->
<div class="footer ">

	<!-- fetaure__section__start -->
	<div class="feature__2 feature__3 sp_top_50  sp_bottom_30">

		<div class="container ">
			<div class="row">
				<div class="col-xl-12">
	
			<div class="feature__border feature__7__color">
					<div class="feature__2__single feature__3__single">
						<div class="feature__2__icon">
							<img src="img/feature/feature__1.svg" alt="">
						</div>
						<div class="feature__2__text">
							<h4>Free Shipping</h4>
							<p>On orders over <strong>$99.</strong></p>
						</div>
					</div>
			
					<div class="feature__2__single feature__3__single">
						<div class="feature__2__icon">
							<img src="img/feature/feature__2.svg" alt="">
						</div>
						<div class="feature__2__text">
							<h4>Money Back</h4>
							<p>Money back in 15 days..</p>
						</div>
					</div>
			
					<div class="feature__2__single feature__3__single">
						<div class="feature__2__icon">
							<img src="img/feature/feature__3.svg" alt="">
						</div>
						<div class="feature__2__text">
							<h4>Secure Checkout</h4>
							<p>100% Payment Secure.</p>
						</div>
					</div>
			
					<div class="feature__2__single feature__3__single">
						<div class="feature__2__icon">
							<img src="img/feature/feature__4.svg" alt="">
						</div>
						<div class="feature__2__text">
							<h4>Online Support</h4>
							<p>Ensure the product quality.</p>
						</div>
					</div>
			
				</div>
			</div>
	
			</div>
		</div>
	</div>
	<!-- fetaure__section__end -->
	<div class="footer__inner sp_bottom_60 sp_top_50">
		<div class="container ">
			<div class="row">
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
					<div class="footer__widget">
						<img style="width:60%;margin-bottom:30px;" src="images/banner.png" />
						
						<div style="padding-left:10px;">
							<p>
								Tel.: +49 6181 6688177<br/>
								Mail: <a href="mailto:info@laaver.com">info@laaver.com</a><br/>
								Adresse: <br/>
								Tinbot Technology GmbH<br/>
								Edisonstraße 7<br/>
								63477 Maintal Deutschland
							</p>
							
							<!--div class="footer__social__icon">
								<ul>
									<li><a target="_blank" title="Facebook-f" href="https://www.facebook.com/shopify"><i class="fab fa-facebook-f"></i></a></li>     													
									<li><a target="_blank" title="Twitter" href="https://twitter.com/shopify"><i class="fab fa-twitter"></i></a></li>       																					
									<li><a target="_blank" title="Youtube" href="https://www.youtube.com/user/shopify"><i class="fab fa-youtube"></i></a></li>       														
									<li><a target="_blank" title="Instagram" href="https://www.instagram.com/shopify/"><i class="fab fa-instagram"></i></a></li>       														
									<li><a target="_blank" title="Tiktok" href="https://www.tiktok.com/@shopify"><i class="fab fa-tiktok"></i></a></li>       														
								</ul>
							</div-->
						</div>
						
						<div class="footer__bottom">
							<div class="footer__img">
								<ul>
									<li>
										<img src="img/footer/footer__1.svg" alt="">
									</li>
									<li>
										<img src="img/footer/footer__2.svg" alt="">
									</li>
									<li>
										<img src="img/footer/footer__3.svg" alt="">
									</li>
									<li>
										<img src="img/footer/footer__4.svg" alt="">
									</li>
									<li>
										<img src="img/footer/footer__5.svg" alt="">
									</li>
									<li>
										<img src="img/footer/footer__6.svg" alt="">
									</li>
								</ul>
							</div>
						</div>

					</div>
				</div>

				<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6">
					<div class="footer__widget">
						<h4 class="footer__title" id="footer_link_laaver">About Laaver</h4>
						<div class="footer__menu">
						<ul>
							<li><a href="/bout" id="footer_link_about">About us</a></li>
							<li><a href="/konto" id="footer_link_account">Account</a></li>
							<li><a href="/shop" id="footer_link_shop">Shop</a></li>
							<li><a href="/kontakt" id="footer_link_contact">Contact</a></li>
						</ul>
					</div>
					</div>
				</div>


				<div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-6">
					<div class="footer__widget">
						<h4 class="footer__title" id="footer_info_title">Information</h4>
						<div class="footer__menu">
						<ul>
							<li><a href="/impressum" id="footer_link_impressum">Impressum</a></li>
							<li><a href="/widerrufsrecht" id="footer_link_revocation">Widerrufsbelehrung</a></li>
							<li><a href="/datenschutz" id="footer_link_privacy">Datenschutzerklärung</a></li>
							<li><a href="/AGB" id="footer_link_tos">AGB</a></li>
						</ul>
					</div>
					</div>
				</div>

				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
					<div class="footer__widget">
						<h4 class="footer__title" id="footer_info_company">Company Information</h4>
						<div class="footer__menu" style="padding-left:10px;">
							<ul>
								<li id="footer_tax_id">USt-IdNr: DE316185757</li>
								<li id="footer_company_amtsgerichts">Amtsgerichts Frankfurt a.M</li>						
								<li id="footer_company_number">Geschäftsnummer: HRB 109789</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<!-- footer__section__end -->

<script>
	languageInnerHTMLArr.push(new languageObj("footer_link_laaver", "About Laaver", "Über Laaver", "À propos de Laaver", "关于Laaver"));
	languageInnerHTMLArr.push(new languageObj("footer_link_about", "About us", "Über uns", "À propos de nous", "关于我们"));
	languageInnerHTMLArr.push(new languageObj("footer_link_account", "Account", "Konto", "Compte", "账户"));
	languageInnerHTMLArr.push(new languageObj("footer_link_shop", "Shop", "Shop", "Boutique", "商店"));
	languageInnerHTMLArr.push(new languageObj("footer_link_contact", "Contact", "Kontakt", "Contact", "联系我们"));

	languageInnerHTMLArr.push(new languageObj("footer_info_title", "Information", "Information", "Informations", "信息"));
	languageInnerHTMLArr.push(new languageObj("footer_link_impressum", "Impressum", "Impressum", "Mentions légales", "法律声明"));
	languageInnerHTMLArr.push(new languageObj("footer_link_revocation", "Widerrufsbelehrung", "Widerrufsbelehrung", "Droit de rétractation", "撤销权说明"));
	languageInnerHTMLArr.push(new languageObj("footer_link_privacy", "Datenschutzerklärung", "Datenschutzerklärung", "Politique de confidentialité", "隐私政策"));
	languageInnerHTMLArr.push(new languageObj("footer_link_tos", "AGB", "AGB", "Conditions générales", "服务条款"));

	languageInnerHTMLArr.push(new languageObj("footer_info_company", "Company Information", "Unternehmensinformation", "Informations sur l'entreprise", "公司信息"));
	languageInnerHTMLArr.push(new languageObj("footer_tax_id", "VAT ID: DE316185757", "USt-IdNr: DE316185757", "Numéro de TVA : DE316185757", "增值税号：DE316185757"));
	languageInnerHTMLArr.push(new languageObj("footer_company_amtsgerichts", "Amtsgerichts Frankfurt a.M", "Amtsgericht Frankfurt a.M", "Tribunal de Frankfurt a.M", "法院 Frankfurt a.M"));
	languageInnerHTMLArr.push(new languageObj("footer_company_number", "Company Number: HRB 109789", "Geschäftsnummer: HRB 109789", "Numéro d’entreprise: HRB 109789", "公司注册号： HRB 109789"));

	//必须在语言对象数组的最后面
	applyLanguageInnerHTML();
	applyLanguagePlaceholder();
	applyLanguageValue();
</script>