<!doctype html>
<html class="no-js layout__7" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Laaver</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <!-- Place favicon.ico in the root directory -->

        <!-- CSS here -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/all.min.css">
        <link rel="stylesheet" href="css/futura-std-4.css">
        <link rel="stylesheet" href="css/slick.css">
        <link rel="stylesheet" href="css/style.css">

		<script src="javascript/header_footer.js "></script>
</head>


<body>


    <main class="main_wrapper body__overlay overflow__hidden">

		<%- include('./header.ejs') %>       


        <!-- herobanner__start -->
        <div class="herobanner herobanner__3">
        
            <div class="herobannerarea__slider  slider__default__arrow herobanner__arrow slider__default__dot herobanner__dot">
        
                <div class="herobannerarea__slider__single position-relative">

                    <div class="herobannerarea__slider__image">
                        <img class="img-fluid" src="images/index_1.png" alt="slide Image">
                    </div>

                    <div class="herobanner__inner__3 herobanner__inner__1320">
                        <div class="herobanner__text__wraper ltn__slide-animation">
							
							<h4 class="herobanner__small__title herobanner__small__title__6" id="home_banner_2">Laaver</h4>
                            <h1 class="herobanner__title animated" style="margin:0;color:#999;"><strong>Tennis ball machine </strong></h1>
							<h1 class="herobanner__title animated" style="margin:0;color:#999;"><strong>PT Smart Pro</strong></h1>
							<h1 class="herobanner__title animated" style="margin:0;color:#999;"><strong>PT MAX C</strong></h1>
                            
                        </div>
                    </div> 

                </div> 
        
                <div class="herobannerarea__slider__single position-relative">

                    <div class="herobannerarea__slider__image">
                        <img class="img-fluid" src="images/index_2.png" alt="slide Image">
                    </div>

                    <div class="herobanner__inner__3 herobanner__inner__1320" style="left:75%;">
                        <div class="herobanner__text__wraper herobanner__text__wraper--3 ltn__slide-animation">

                            <h4 class="herobanner__small__title herobanner__small__title__6" id="home_banner_2">Europe Stock</h4>
                            <h1 class="herobanner__title animated" style="margin:0;color:#999;"><strong>Laaver</strong></h1>
							<h1 class="herobanner__title animated" style="margin:0;color:#999;"><strong>PUSUN</strong></h1>
							<h1 class="herobanner__title animated" style="margin:0;color:#999;"><strong>PT MAX C</strong></h1>
                            
                        </div>
                    </div> 

                </div> 
        
                <div class="herobannerarea__slider__single position-relative">

                    <div class="herobannerarea__slider__image">
                        <img class="img-fluid" src="images/index_3.png" alt="slide Image">
                    </div>

                    <div class="herobanner__inner__3 herobanner__inner__1320" style="left:55%;">
                        <div class="herobanner__text__wraper ltn__slide-animation">

                            <h4 class="herobanner__small__title herobanner__small__title__6" id="home_banner_3">Europe Stock</h4>
                            <h1 class="herobanner__title animated" style="margin:0;color:#999;"><strong>Laaver</strong></h1>
							<h1 class="herobanner__title animated" style="margin:0;color:#999;"><strong>PUSUN</strong></h1>
							<h1 class="herobanner__title animated" style="margin:0;color:#999;"><strong>PT MAX C</strong></h1>
							
                        </div>
                    </div> 

                </div> 
        
        
            </div>
        
        </div>
        <!-- herobanner__end -->
		
		<!-- about__section__start -->
		<div class="about">
			<div class="container">
				<div class="row align-items-center">

					<div class="col-xl-6 col-lg-6 col-md-12 col-12">
						<div class="about__img">
							<img src="images/LOGO-laaver.jpg" alt="">
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-12 col-12">
						<div class="about__text">
							<h2><span>About us</span></h2>

							<p>Experience the age-defying power of PureRadiance Youth Serum. This skincare marvel is meticulously formulated to rejuvenate and replenish your skin's youthful glow.</p>

						   <p>With a potent blend of natural ingredients and advanced technology, it diminishes fine lines, restores elasticity.</p>
						   
							<div class="about__button">
								<a class="default__button btn__pink" href="#">Shop Now</a>
							</div>
						</div>
					</div>
			
				</div>
			</div>
		</div>
        <!-- about__section__end -->
		
		<!-- catalog__products__start -->
		<div class="best__selling sp_bottom_80">
			<div class="container">
				<div class="row">       
					<div class="col-xl-12 text-center">
						<div class="prodict__selling__tab">
							<ul class="nav" id="myTab1" role="tablist"></ul>
						</div>
					</div>
				</div>

				<div class="tab-content " id="myTabContent1"></div>

			</div>
        </div>
        <!-- catalog__products__start -->
		
		<!-- banner__7__start -->
	    <div class="banner__7 sp_bottom_80" style="padding-top:50px;">
			<div class="container">
				<div class="row grid__responsive">
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
						<div class="banner__7__img">
							<img src="images/index_12.png" alt="">
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
						<div class="banner__7__img">
							<img src="images/index_13.png" alt="">
						</div>
					</div>
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
						<div class="banner__7__img">
							<img src="images/index_11.png" alt="">
						</div>
					</div>
				</div>
			</div>
	    </div>
	    <!-- banner__7__end -->
		
		<!-- sales__products__start -->
		<div class="best__selling sp_bottom_80">
			<div class="container">
				<h2 class='text-center' id="product_title_angebot">Angebot</h2>  
				<div class="row" style="display:none;">       
					<div class="col-xl-12 text-center">
						<div class="prodict__selling__tab">
							<ul class="nav" id="myTab2" role="tablist"></ul>
						</div>
					</div>
				</div>

				<div class="tab-content " id="myTabContent2"></div>

			</div>
        </div>
        <!-- sales__products__start -->
		 


		<!-- about__section__start -->
		<div class="about about__7 sp_top_80 sp_bottom_80" style="margin-bottom:50px;">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-xl-6 col-lg-6 col-md-12 col-12">
						<div class="about__text">
							<h4 id="product_subtitle_performance">high-performance tennis ball machine</h4>
							<h2 id="product_title_model">PT-MAX C</h2>
							<p id="product_description_intro">
							  The PT-MAX C is a high-performance tennis ball machine designed for individual players who want professional-level training. 
							  With advanced app control, strong battery life, and multiple drill modes, it brings full-court training to any court.
							</p>

						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-12 col-12">
						<div class="about__img">
							<img src="images/index_20.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- about__section__end -->
		
		<!-- banner__section__start -->
		<div class="collection__2 sp_top_80 sp_bottom_60">
			<div class="container">
				<div class="row">
					<div class="col-xl-12 text-center">
						<h2 id="product_title_types">Product Types</h2>   
					</div>
				</div>
				<div class="row grid__responsive" id="KatalogDiv"></div>
			</div>
		</div>
		<!-- banner__section__end -->	
		
		<!-- product__angebot__section__start -->
		<div class="category sp_bottom_50">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="section__title text-center">
							<h2 id="product_title_our">Our Products</h2>
						</div>
					</div>
				</div>
				<div class="row category__slider__active__2 slider__default__arrow row__custom__class" id="AngebotSilderDiv">
				
				</div>
			</div>
		</div>
		<!-- product__angebot__section__end -->	 

		<!-- video__banner__section -->
		<div class="video sp_bottom_80">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="video__img">
							<img src="images/index_4.png" alt="">
							<div class="video__icon">
								<a class="video-btn" href="images/index_1.mp4"> <i class="fa fa-play"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- video__banner__section -->
		
		<!-- blog__section__start -->
		<div class="blog sp_bottom_80 sp_top_80">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="section__title text-center">
							<h2 id="blog_title_latest">Latest Blog</h2>
						</div>
					</div>
				</div>
				<div class="row row__custom__class blog__slider__active slider__default__arrow" id="BlogSilderDiv">
				
				</div>
			</div>
		</div>
		<!-- blog__section__start -->


	    <%- include('./footer.ejs') %>     

	</main>

	<script>
		languageInnerHTMLArr.push(new languageObj("home_banner_2", "Europe Stock", "Europäisches Lager", "Stock européen", "欧洲库存"));
		languageInnerHTMLArr.push(new languageObj("home_banner_3", "Europe Stock", "Europäisches Lager", "Stock européen", "欧洲库存"));
		languageInnerHTMLArr.push(new languageObj("product_subtitle_performance","high-performance tennis ball machine","Hochleistungs-Tennisballmaschine","Machine à balles de tennis haute performance","高性能网球发球机"));
		languageInnerHTMLArr.push(new languageObj("product_title_model","PT-MAX C","PT-MAX C","PT-MAX C","PT-MAX C"));
		languageInnerHTMLArr.push(new languageObj(
		  "product_description_intro",
		  "The PT-MAX C is a high-performance tennis ball machine designed for individual players who want professional-level training. With advanced app control, strong battery life, and multiple drill modes, it brings full-court training to any court.",
		  "Der PT-MAX C ist eine Hochleistungs-Tennisballmaschine für Einzelspieler, die professionelles Training suchen. Mit fortschrittlicher App-Steuerung, starker Akkulaufzeit und mehreren Trainingsmodi bringt sie ein Vollplatztraining auf jeden Platz.",
		  "La PT-MAX C est une machine à balles de tennis haute performance conçue pour les joueurs individuels souhaitant un entraînement de niveau professionnel. Avec un contrôle via application, une autonomie puissante et plusieurs modes d'exercices, elle apporte un entraînement complet sur n'importe quel court.",
		  "PT-MAX C 是一款为个人用户设计的高性能网球发球机，适合追求专业训练的选手。具备先进的 APP 控制、强劲的电池续航以及多种训练模式，可实现全场训练。"
		));
		languageInnerHTMLArr.push(new languageObj("blog_title_latest", "Latest Blog", "Neuester Blog", "Dernier blog", "最新博客"));
		languageInnerHTMLArr.push(new languageObj("product_title_our", "Our Products", "Unsere Produkte", "Nos produits", "我们的产品"));
		languageInnerHTMLArr.push(new languageObj("product_title_types", "Product Types", "Produkttypen", "Types de produits", "产品类型"));
		languageInnerHTMLArr.push(new languageObj("product_title_angebot", "Promotion", "Angebot", "Promotion", "特价"));



	</script>

    <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js "></script>
    <script src="js/vendor/jquery-3.6.0.min.js "></script>
	
	<script src="javascript/index.js "></script>
	<script> initGUI(); </script>
	
    <script src="js/popper.min.js "></script>
    <script src="js/bootstrap.min.js "></script>
    <script src="js/isotope.pkgd.min.js "></script>
    <script src="js/one-page-nav-min.js "></script>
    <script src="js/slick.min.js "></script>
    <script src="js/jquery.meanmenu.min.js "></script>
    <script src="js/ajax-form.js "></script>
    <script src="js/wow.min.js "></script>
    <script src="js/jquery.scrollUp.min.js "></script>
    <script src="js/imagesloaded.pkgd.min.js "></script>
    <script src="js/jquery.magnific-popup.min.js "></script>
    <script src="js/waypoints.min.js "></script>
    <script src="js/jquery.counterup.min.js "></script>
    <script src="js/fontawesome.min.js "></script>
    <script src="js/plugins.js "></script>
    <script src="js/main.js "></script>
	

</body>

</html>