<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <add name="iisnode" path="node.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="sendToNode">
          <match url="/*" />
          <action type="Rewrite" url="node.js" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,OPTIONS,PUT,DELETE" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, soapaction" />
      </customHeaders>
    </httpProtocol>
        <asp appAllowDebugging="true" scriptErrorMessage="IIS Fehler!" scriptErrorSentToBrowser="true">
            <limits bufferingLimit="40960000" maxRequestEntityAllowed="40960000" />
        </asp>
	<iisnode nodeProcessCommandLine="C:\Users\Administrator\AppData\Roaming\nvm\v20.15.0\node.exe" />
  </system.webServer>
  <system.web>
    <customErrors mode="Off" />
    <compilation tempDirectory="C:\Inetpub\vhosts\laaver.com\tmp" />
	<httpRuntime executionTimeout="30"/>
  </system.web>
</configuration>